*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: $color-black-100;
  background: red;
  font-size: 20px;
  border: 10px solid yellow;
  padding: 50px;
  margin: 50px;
}
