// COLORS
$main-colors-purple: #ca6aeb;
$main-colors-blue: #19b5f1;

$color-alert: #00c566;
$color-error: #ff4747;
$color-warning: #facc15;

$greyscale-grey-1: #b0b0b2;
$greyscale-grey-2: #d1d1d1;

$greyscale-white: #fff;
$color-black-100: #18181b;
$color-black-80: #252532;

// FONT
$font-family: 'Chakra Petch', sans-serif;
$default-font-size: 1.6rem;

// GRID
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;
//$color-secondary-dark: #ff7730;
//$color-tertiary-light: #2998ff;
//$color-tertiary-dark: #5643fa;
