// COLORS
$color-primary: #ca6aeb;
$color-secondary-light: #19b5f1;

$color-alert: #00c566;
$color-error: #ff4747;
$color-warning: #facc15;

$color-grey-1: #b0b0b2;
$color-grey-2: #d1d1d1;

$color-white: #fff;
$color-black-100: #181818;
$color-black-50: #252532;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;
//$color-secondary-dark: #ff7730;
//$color-tertiary-light: #2998ff;
//$color-tertiary-dark: #5643fa;
