.header {
  min-height: 114px;
 
  &__box {
    display: flex;
    align-items: center;
    padding: 3rem 0;
  }

  &__container {

  }

  &__container:nth-child(2) {
    margin: 0 auto;
  }

  &__contact {

  }
}
